@model IEnumerable<WebApplication1.ViewModels.UserVM>

@{
    ViewData["Title"] = "UserRole";
}

<h1>Email</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                @item.Email
                </td>
                <td>
                @Html.ActionLink("View Roles", "Detail", new { userName = item.Email })
                </td>
            </tr>
        }
    </tbody>
</table>

